:root {
    --prim: #0a0a0d;
    --sec: #8a0000;
    --tert: #6D4611;
    --text-prim: #c7c7c7;
    --text-brown: #6d4611;
    --text-red: #8a0000;
    --red: #8a0000;
    --text-green: rgb(4, 100, 4);
    --grey: #4c4b4b;
}